:root {
  --primary: #8FABFE;
  --secondary: #CC7E85;
  --highlight: #304C89;

  --text-header: var(--primary);
  --text-main-headers: var(--highlight);
  --text-links: #007bff;
  --text-footer: #333;

  --bg-main: white;
  --bg-dots: var(--highlight);
  --bg-lesson: white;

  --nav-buttons: var(--highlight);
  --nav-buttons-text: white;

  --corner-active: var(--highlight);
  --corner-inactive: #f4f4f4;
  --icons: var(--highlight);
  --footer-icons: var(--highlight);

  --code-bg: #dce8ff;
  --emphasized-bg: lightgoldenrodyellow;
  --emphasized-border: #aab6d2;
}
